*{
    text-align: center;
}

body {
    color: red;
    background-image: url('back.jpg');
    background-size: cover;
}

.btn-group button{
    height: 50px;
    width: 50px;
    background-color: black;
    display: inline-block;
    padding: -10px;
}

#Brush {
    margin-left: 350px;
}

canvas {
    position: absolute;
    width: 700px;
    height: 450px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    border: 2px solid #000000;
    background-color: white;
}

#colortool {
    width: 150px;
    padding: 10px;
    position: fixed;
    top: 20%;
    right: 10%;
}

#size {
    width: 150px;
    padding: 10px;
    position: fixed;
    top: 35%;
    right: 10%;
}

#font {
    width: 178px;
    padding: 10px;
    position: fixed;
    top: 20%;
    left: 9%;
}

#fontsize {
    width: 150px;
    padding: 10px;
    position: fixed;
    top: 35%;
    left: 10%;
}

#Uploadb {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

input[type="file"] {
    display: none;
}